/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";/*!
*/

.elemento{
  /*margin: 50px;

  padding: 20px;*/
  background: rgb(240, 240, 240);
  border: 1px  solid gray;
  text-align: center;
  color: white;
  font-weight: 200px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);


}


.catastrofes{

}

.color2{
  background:#e3e1e1;

}

.color1{
  /*background:rgb(207, 207, 207);*/
  overflow: scroll;
  height: 500px;

}

.danger-color-dark {
    background-color: #615b5b !important;
}

.card-block {
  color: black;
}

.btn1 {
    border-radius: 2px;
    border: 0;
    color: #fff !important;
    margin: 6px;
    white-space: normal !important;
    background: #8d8989;
}



/*serach*/



#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
    /*fin search*/

  .head-catastrofe{
    background: #b6b4b4;
    padding: 200px;
    text-align: center;
    color: #fff;

  }

.ttr{

  background: rgb(199, 199, 199);
}

/*formulario crear catastrofes*/

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
